@tailwind base;
@tailwind components;
@tailwind utilities;

.userLocationSection {
  background: linear-gradient(#87CEEB, #1E90FF);
}

.sunny {
  background: linear-gradient(to bottom, #87CEEB, #FFD700);
}

.cloudy {
  background: linear-gradient(to bottom, #D3D3D3, #A9A9A9);
}

.rainy {
  background: linear-gradient(to bottom, #2F4F4F, #4682B4);
  color: #FFF;
}

.snow {
  background: linear-gradient(to bottom, #FFFFFF, #B0E0E6);
}

.foggy {
  background: linear-gradient(to bottom, #D3D3D3, #F5F5F5);
}

.night {
  background: linear-gradient(to bottom, #202020, #6e6e6e);
  color: #FFF;
}

.temperaturePreviewLine {
  width: 80%;
  height: 5px;
  background: linear-gradient(to right, #0000FF 20%, #00FF00 40%, #FFFF00 60%, #FFA500 80%, #FF0000 100%);
}

.userLocationRangeLine {
  background: linear-gradient(to right, #0000FF 20%, #00FF00 40%, #FFFF00 60%, #FFA500 80%, #FF0000 100%);
}